*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Fira Sans', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  word-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444;
  font-size: 16px;
  line-height: 1.4;
}

a {
  color: #333;
  transition: opacity 0.2s ease, transform 0.2s ease;
  display: inline-block;

  &:hover {
    opacity: 0.8;
    transform: translateY(-2px) scale(1.02);
  }
}

ul {
  margin-top: 0;
  padding-left: 0;
}

.content {
  width: 1190px;
  margin: 0 auto;
}

.content-wrapper {
  border-bottom: 2px solid #efefef;
  margin-bottom: 10px;
  padding-bottom: 20px;

  &:last-child {
    border-bottom: 0;
  }
}

.avoid-page-break {
  page-break-inside: avoid;
}

h2 {
  margin: 0;
  padding: 0 0 10px 0;
}

.two-columns {
  columns: 2;
}

.flex-wrapper {
  display: flex;
  align-items: flex-start;
}

.textarea {
  border: 1px solid #CCC;
}

.button {
  background: #333;
  padding: 10px 15px;
  color: #FFF;
  border: 0;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: #666;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 18px;
  }
  .content {
    width: 90%;
  }
}
