@media print {
  .content {
    width: 95%;
  }

  .header {
    padding: 0;
  }
  .about {
    padding: 10px 0;
  }

  .main-content {
    .course-item {
      .logo {
        width: 10%;
      }
      .info {
        width: 90%;
      }
    }
    .ul-courses {
      li.item {
        display: inline-block !important;
        width: 50% !important;
        padding: 0 10px !important;
      }
    }
  }

  .hide-print {
    display: none;
  }
}
